*{
    font-family: 'roboto',Verdana, sans-serif;
}
body {
    height: 100vh;
    margin: 0;
}

/* navigation style */
ul{
    list-style: none;
    display: flex;
}
.left{
    margin-left: auto;
}
a{
    text-decoration: none;
}