*{
    font-family: 'roboto',Verdana, sans-serif;
}
body {
    height: 100vh;
    margin: 0;
    background-color: #1f2937;
}

/* navigation style */
ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding-left: 90px;
    padding-right: 140px;
    align-items: center;
}
.left{
    margin-left: auto;
}
a{
    text-decoration: none;
    color: white;
}

/* logo styel*/
.logo{
    font-weight: bold;
    font-size: 48px;
}
